<div class="masthead clearfix">
  <div class="inner">
    <h3 class="masthead-brand">Testify</h3>
    <ul class="nav masthead-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Features</a></li>
      <li><a href="<%= contact_path %>">Contact</a></li>
      <% if user_signed_in? %>
      	<li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
      <% else %>
      	<li><%= link_to 'Sign in', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>